@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

/* Reset */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    list-style: none;
    text-decoration: none;
    transition: background 0.2s linear;
}


/* Variáveis */
:root {
    --red: #FF0000;
    --ball: #E5E5E5;
    --btn-color: #E5E5E5;
    --main-background:  #C4C4C4;
    --background: #E5E5E5;
    --text: #000;
    --textinput: #000;
    --footer: #000;
    --text-description: #9C9696;
    --input: #FFF;
    --icon-menu: #000;
    --explorer: #000;
}

html.dark-mode {
    --red: #8c1819;
    --ball: #12151C;
    --btn-color: #E5E5E5;
    --main-background: #12151C;
    --background: #1B222C;
    --text: #E5E5E5;
    --footer: #E5E5E5;
    --text-description: #9C9696;
    --input: #E5E5E5;
    --icon-menu: #E5E5E5;
    --explorer: #1B222C;
}


/* body */
body {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    overflow: hidden;

}


/* Header */
header {
    background-color: rgba(0, 0, 0, 0);
    height: 110px; /* Voltar aqui e testar com %*/
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5%;
}

.logo {
    margin-right: 70px;
}

.btn-menu {
    display: none;
}

.header-navegation {
    width: 50%;
}

.header-navegation ul{
    display: flex;
    justify-content: space-between;
}

.header-navegation a{
    font-size: 1.5rem;
    font-weight: 700;
    text-transform: uppercase;
    color: var(--text);
    position: relative;
}

.header-navegation a:hover{
    border-bottom: 3px solid var(--red);
}

.header-navegation a:active{
    color: rgb(112, 112, 112);
}

.header-options {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 25%;
    gap: 20px;

}

.search {
    position: relative;
    width: 70%;
    height: 40px;
    transition: width 0.2s;
    /* margin-right: 100px; */
}

.search .input {
    border: none;
    height: 40px;
    width: 100%;
    padding: 20px 10px 20px 40px;
    color: var(--textinput);
    background-color: var(--input);
    font-weight: 500;
}

.search .input:focus {
    outline: 2px solid black;
    border: none;
}


.search .search-icon {
    position: absolute;
    top: 8px;
    left: 8px;
}

/* Theme switcher */
.theme-switcher{
    display: flex;
    align-items: center;
    justify-content: center;
}

#checkbox {
    opacity: 0;
    position: absolute;
}

.label{
    border-radius: 50px;
    background-color: var(--text);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    width: 50px;
    height: 30px;
}

.ball {
    background-color: var(--ball);
    width: 20px;
    height: 20px;
    position: absolute;
    border-radius: 50%;
    transition: transform 0.2s;
}

#checkbox:checked + .label .ball {
    transform: translateX(20px);
}


/* Main */
main {
    flex-grow: 1;
    display: flex;
}

.left-container {
    background-color: var(--background);
    flex-basis: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.right-container {
    background-color: var(--main-background);
    flex-basis: 60%;
}


/* Left */
.left-content {
    width: 60%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.left-content h2 {
    font-size: 3.75rem;
    color: var(--text);
    font-weight: 700;
    margin-bottom: 10px;
}

.left-content p {
    font-size: 1rem;
    color: var(--text-description);
    font-weight: 700;
    margin-bottom: 40px;
}

.left-content .price {
    font-size: 2.5rem;
    font-weight: 700;
    color: var(--text);
    margin-bottom: 30px;
}

.left-content .btn-buy {
    border: none;
    background-color: var(--red);
    padding: 30px 0;
    width: 80%;
    font-size: 1.5rem;
    font-weight: 700;
    color: var(--btn-color);
    cursor: pointer;
}

.left-content .btn-buy:hover{
    background-color: #ff8383;
}

.left-content .btn-buy:active{
    background-color: var(--red);
}


/* Right */
.right-container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

.main-image {
    height: 80%;
    width: 80%;
    max-width: 600px;
    max-height: 450px;
    object-fit: contain;
}

.images-container {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin-bottom: 30px;
}

.images-container .bottom-image {
    width: 30%;
}


/* Footer */
footer {
    background-color: var(--background);
    height: 130px; /* Voltar aqui e testar com %*/
    display: flex;
    align-items: center;
}

.video, .social, .explorer {
    height: 100%;
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
}

.video-img {
    height: 90%;
    width: auto;
    object-fit: cover;
}

.social {
    font-size: 1.125rem;
    font-weight: 700;
    color: var(--text);
}

.social:hover {
    background-color: var(--text-description);
}

.social:active {
    background-color: var(--background);
}

.explorer {
    font-size: 1.5rem;
    font-weight: 700;
    color: var(--input);
    background-color: #0a0b0f;
}

html.dark-mode explorer {
    width: 80%;
}

.explorer:hover {
    background-color: rgb(107, 107, 107);
}

.explorer:active {
    background-color: var(--text);
}

.explorer-text {
    margin-right: 10px;
}

/* Responsividade */
@media (max-width: 1400px) {
    /* Header */
    header {
        background-color: var(--main-background);
    }
    
    .logo {
        margin-right: 0;
    }

    .btn-menu {
        display: block;
    }

    header {
        justify-content: space-between;
    }

    .header-options {
        flex-grow: 1;
        gap: 0px;
    }

    .search {
        width: 40%;
    }
    
    .search .input {
        display: inline-block;
    }

    .search:hover {
        width: 40%;
    }


    .header-navegation {
        order: 1;
        width: auto;
    }

    .header-navegation .menu{
        display: flex;
        flex-direction: column;
        position: absolute;
        gap: 10px;
        top: 80px;
        right: 5%;
        height: 0;
        z-index: 1000;
        background-color: var(--background);
        box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.103); 
        transition: 0.3s;  
        visibility: hidden; 
        overflow-y: hidden;
    }

    .header-navegation.active .menu {
        visibility: visible;
        height: 253px;
        padding: 10px 20px;
    }

    .header-navegation a:hover{
        border-bottom: none;
    }

    .header-navegation a:active{
        color: var(--text-description);
    }

    .menu li {
        padding: 10px;
        border-bottom: 2px solid rgba(0, 0, 0, 0.05);
        
    }

    .btn-menu {
        display: flex;
        border: none;
        background: none;
        cursor: pointer;
    }

    .menu-icon {
        border-top: 3px solid var(--icon-menu);
        width: 30px;
    }

    .menu-icon::after, .menu-icon::before{
        display: block;
        content: '';
        width: 30px;
        height: 3px;
        background: var(--icon-menu);
        margin-top: 5px;
        transition: .3s;
        position: relative;
    }

    .header-navegation.active .menu-icon{
        border-top: transparent;
    }

    .header-navegation.active .menu-icon::after {
        transform: rotate(135deg);
        top: -7px;
    }

    .header-navegation.active .menu-icon::before {
        transform: rotate(225deg);
    }



    /* Main */
    body {
        height: auto;
        width: 100%;
        overflow: auto;
    }

    main {
        flex-direction: column;
    }

    .right-container {
        order: -1;
        margin-top: 110px;
    }

    .main-image {
        height: 350px;
    }

    .left-container {
        padding: 50px 0;
    }

    .left-content {
        width: 80%;
        margin-bottom: 110px;
    }

    .left-content {
        align-items: center;
    }

    .left-content h2 {
        font-size: 2.5rem;
    }

    .left-content p {
        font-size: 1rem;
    }

    .left-content .btn-buy:hover{
        background-color: var(--red);
    }

    /* Footer */
    footer {
        height: auto;
        flex-direction: column;
        background-color: var(--main-background);
    }

    footer iframe {
        order: -2;
        margin: 20px 0;
    }

    footer .explorer {
        width: 100%;
        padding: 30px 0;
        order: -1;
        
    }

    footer a {
        width: 100%;
        padding: 10px 0;
        border-top: 2px solid rgba(0, 0, 0, 0.05);
        
    }

    .social:hover {
        background-color: var(--main-background);
    }

    .explorer:hover {
        background-color: var(--explorer);
    }


}